*{
    margin: 10px;
    padding: 5px;
}
.translate{
    font-family: verdana;
    font-size: 20px;
    font-weight:500;
}
.translate p{
    position: relative;
}
#id1{
    background-color: greenyellow;
    color:crimson;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#id1:hover{
    background-color: rgb(21, 19, 124);
    color:rgb(231, 13, 231);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50px, -50px);
    transition-duration: 0.8s;
    transition-timing-function:ease;
}
#id2{
    background-color: rgb(38, 240, 223);
    color:rgb(49, 95, 6);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#id2:hover{
    background-color: rgb(230, 11, 193);
    color:rgb(241, 163, 163);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(50px);
    transition-duration: 0.8s;
    transition-timing-function:ease;
}
#id3{
    background-color: rgb(255, 18, 129);
    color:rgb(13, 87, 68);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#id3:hover{
    background-color: rgb(85, 38, 7);
    color:rgb(231, 136, 195);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    transition-duration: 0.8s;
    transition-timing-function:ease;
}
#id4{
    background-color: rgb(50, 248, 139);
    color:rgb(100, 9, 47);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#id4:hover{
    background-color: rgb(85, 38, 7);
    color:rgb(231, 136, 195);
    height: 200px;
    width: 200px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(40deg);
    transition-duration: 0.8s;
    transition-timing-function:ease;
}